body {
  margin: 0;
  background-image: url('/images/grassy-backg.webp');
  background-repeat: repeat;
  background-size: 250px 250px;
  overflow-x: hidden;
}

*, *::before, *::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.info-text {
  display: flex;
  justify-content: center;
  margin: 2vmin;
  font-size: 2rem;
  color: white;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

.splash-title {
  font-family: 'Bangers';
  font-size: 10rem;
  color: white;
}

.splash-battleship-image {
  position: absolute;
  bottom: 5vh;
  left: 20vw;
  width: 100%;
  transform: rotateY(180deg);
  pointer-events: none;
  opacity: .25;
}

.btn {
  font-size: inherit;
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: .2em;
  color: #333;
}

.btn:hover, .btn:focus {
  background-color: hsl(30, 100%, 40%);
}

.splash-btn {
  font-size: 2rem;
  margin-left: 2rem;
}
.placed {
  position: absolute;
}

.destroyer-container {
  --width: 2;
  background-image: url('/images/two-train.png');
}

.submarine-container {
  --width: 3;
  background-image: url('/images/three-1-train.png');
}
.cruiser-container {
  --width: 3;
  background-image: url('/images/three-2-train.png');
}

.battleship-container {
  --width: 4;
  background-image: url('/images/four-train.png');
}

.carrier-container {
  --width: 5;
  background-image: url('/images/five-train.png');
}
.destroyer-container-vertical {
  --height: 2;
  --width: 1;
  background-image: url('/images/two-train copy.png');
}

.submarine-container-vertical {
  --height: 3;
  --width: 1;
  background-image: url('/images/three-1-train copy.png');
}

.cruiser-container-vertical {
  --height: 3;
  --width: 1;
  background-image: url('/images/three-2-train copy.png');
}

.battleship-container-vertical {
  --height: 4;
  --width: 1;
  background-image: url('/images/four-train copy.png');
}
.carrier-container-vertical {
  --height: 5;
  --width: 1;
  background-image: url('/images/five-train copy.png');
}


.splash-btn:first-child {
  margin-left: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  background-image: url('/images/brown-backg.webp');
  background-repeat: repeat;
  background-size: 100px 100px;
  overflow-x: hidden;
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
}

.players-status {
  display: flex;
  justify-content: space-between;
  margin: 2vmin;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bolder;
}
.taken.destroyer.horizontal {
  background-image: url('/images/two-train.png');
}

.taken.submarine.horizontal {
  background-image: url('/images/three-1-train.png');
}

.taken.cruiser.horizontal {
  background-image: url('/images/three-2-train.png');
}

.taken.carrier.vertical {
  background-image: url('/images/five-train copy.png');
}

.taken.carrier.horizontal {
  background-image: url('/images/five-train.png');
}
.taken.battleship.vertical {
  background-image: url('/images/four-train copy.png');
}

.taken.battleship.horizontal {
  background-image: url('/images/four-train.png');
}

.taken.carrier {
  background-image: url('/images/five-train.png');
} 
.ship {
  position: relative;
  background-size: cover;
  background-position: center;
  /* background-color: hsl(0, 0%, 80%); */
}
.grid-computer > .taken,
.grid-computer > .boom {
  background-color: none !important;
  background-image: none !important;
  border-radius: 0 !important;
}

.grid-display {
  display: flex;
}

.ship > div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  /* border-radius: 2.3vmin; */
  background-size: cover;
  background-position: center;
}

.battleship-grid div {
  border: 1.5px dashed rgb(213, 213, 213);
  background-size: cover;
  background-position: center;
}


.hidden-info {
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-text {
  margin: 1rem;
}

.miss,
.boom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom::after,
.miss::after {
  content: '';
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}


.miss::after {
  background-color: white;
}

.boom::after {
  background-color: red;
}

.miss::before {
  content: '';
  position: absolute;
  animation: hit .2s ease-out forwards;
  border: 1vmin solid white;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.boom {
  animation: boom .2s ease-out forwards;
}

@keyframes hit {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(4);
  }
}

@keyframes boom {
  0% {
    background-color: red;
  }

  100% {
    /* background-color: hsl(0, 0%, 80%); */
  }
}

.player {
  margin: 2vmin;
}

.connected, .ready {
  font-weight: normal;
  opacity: .25;
  text-decoration: line-through;
}

.connected.active,
.ready.active {
  opacity: 1;
  text-decoration: none;
}

.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

.hide {
  display: none;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.aruvi-icon {
  width: 150px;
  height: auto;
}

.caption {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  margin-top: 0.5rem;
}